body {
  font-family: Arial;
  padding: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #444;
  padding: 8px;
  text-align: center;
}

th {
  background: #eee;
}

.done {
  text-decoration: line-through;
  color: green;
}
