body {
  font-family: Arial;
  padding: 20px;
}

input, select, button {
  padding: 6px;
  margin: 4px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 15px;
}

th, td {
  border: 1px solid #333;
  padding: 6px;
  text-align: center;
}

.done {
  text-decoration: line-through;
  color: green;
}
