body {
  font-family: Arial;
  padding: 20px;
}

input, select, button {
  padding: 8px;
  margin: 5px 0;
}

table {
  width: 100%;
  margin-top: 20px;
}

th, td {
  padding: 8px;
  text-align: center;
}
