body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.add-box {
  margin-bottom: 15px;
}

input, select, button {
  padding: 6px;
  margin-right: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  vertical-align: top;
  padding: 6px;
  min-width: 110px;
}

#loginBox {
  max-width: 300px;
  margin: 100px auto;
  text-align: center;
}

#loginBox input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
