body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 10px;
}

.box {
  max-width: 300px;
  margin: auto;
  background: #fff;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

td, th {
  border: 1px solid #ccc;
  padding: 6px;
  vertical-align: top;
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
}

.done {
  text-decoration: line-through;
  color: green;
}

button {
  margin: 5px 0;
}
